@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/utilities/text";
@import "~bootstrap/scss/type";

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');

.icon {
    display: inline-block;
}
html {
    height: 100%;
}

body {
    color: #3d3d3d;
    font-family: Nunito;
    font-weight: 300;
    display: flex;
    align-items: center;
    min-height: 100%;
    background-color: #f1f1f1;
}

h1, h2, h3, h4 {
    font-weight: 300;
}

h1 {
    margin-bottom: 0;
    line-height: 1;
    font-size: 28px;
    position: relative;
    margin-top: 5px;

}

.logo-company {

}

.logo-name {
    margin-top: 0;
    font-size: 18px;
    letter-spacing: -0.45px;
}

textarea,
input {
    border: none;
    border-bottom: 1px solid rgba(#3d3d3d, 0.5);
    width: 100%;
    resize: none;
    font-weight: 300;
    font-family: Lato;
    color: #3d3d3d;
    &:focus {
        outline: 0;
    }
}

button {
    background-color: transparent;
    font-weight: 300;
    font-family: Lato;
    border:0;
    padding: 0;
    border-bottom: 1px solid rgba(#3d3d3d, 0.5);

    color: #3d3d3d;
}

.list-inline-item {
    margin-right: 0.5rem;
    line-height: 1;
}

ul {
    margin-bottom: -3px;
    font-size: 14px;
}

.col__listing {
    max-width: 370px;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}
